.container{
  height:350px;
  width: 650px;
  background-color: #7B7D77;
  border-radius: 25px;
  position:absolute;
  border: 5px solid #5D5E58;
  margin: auto;
  top: 0;
 right: 0;
 bottom: 0;
 left: 0;
}
.sub_container{
  height: 300px;
  width: 400px;
  background-color: #AFBF8E;
  margin-left: 125px;
  margin-top: 20px;
  position: relative;
  border-radius: 25px;
  border: 2px solid #A8AD9C;
  text-align: center;
}
p{

font-size: 35px;
font-weight: bold;
color: black;
font-family: Courier;

}
button{
  height: 50px;
  margin-top: 30px;
  width: 150px;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #970512;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
