
    #demo{
      border:2px solid;
      border-radius:6px;
      box-shadow:inset 0 0 13px #888;
      padding:7px;
      width: 400px;
      height:200px;
      border-style: solid;
    }

    button
    {
      color: black;
      background-color: #4CAF50;
     font-weight: bold;
    }

.text
{
  font-weight: bold;
}