body {
  font-family: Lucida Console;
}

input[type=text] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100%;
  background-color: green;
  color: white;
  padding: 10px 10px;
  margin: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: red;
}

.container {
    width: 80%;
  border-radius: 5px;
  background-color: lightgray;
  padding: 12px;
}

table {
   width: 70%;
}

th {
  background-color: green;
  color: white;
}

th,td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
    color: forestgreen;
}

